<div class="container">
  <div class="title text-center">
    <h1 class="">{{ title }}</h1>
  </div>
  <div class="text-center">
    <div class="">
      <ul class="list-unstyled d-flex justify-content-center">
        <li class="mx-2">
          <a class="btn btn-primary" [routerLink]="['/', 'reactive-forms-crud']"
            >Reactive-Forms-CRUD</a
          >
        </li>
        <li class="mx-2">
          <a class="btn btn-primary" href="perfume">Perfume</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr />
<router-outlet></router-outlet>
