<div class="header container">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="index.html">
        <img
          src="https://lh3.google.com/u/0/d/1V8pfFu9fJWxfyT94sQOBKOJfrhv3_HdF=w1920-h911-iv1"
          alt="d'Perfume"
        />
      </a>
    </div>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="product.html"
            ><i class="fas fa-store-alt mr-1"></i>Product</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login.html"
            ><i class="fas fa-user mr-1"></i>Log in</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-heart mr-1"></i>Wishlist</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="fas fa-shopping-cart mr-1"></i>Cart(3)</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="banner mb-5">
  <div class="container">
    <div class="bannerContent">
      <div class="bannerText">
        <h2>Perfume your day</h2>
        <p>
          A perfume is like a piece of clothing, a message, a way of presenting
          oneself a costume that according to the person who wears it.
        </p>
        <button type="button">Shop now</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="product row-reverse">
    <div class="productPic">
      <img
        src="https://lh3.google.com/u/0/d/1eVCwfBwmyuIZ6ttFgUp-SM8S6fZOal1d=w1920-h522-iv1"
        alt="image2"
      />
    </div>
    <div class="productText">
      <h2>Gabrielle CHANEL</h2>
      <p>
        全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。
        極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。
      </p>
      <a href="#">查看更多</a>
    </div>
  </div>
  <div class="product">
    <div class="productPic">
      <img
        src="https://lh3.google.com/u/0/d/1t3do4zptvv33onij0gdOhG12-QZotvtm=w1920-h522-iv1"
        alt="index3"
      />
    </div>
    <div class="productText">
      <h2>Five O’clock Au Gingembre</h2>
      <p>
        生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。
      </p>
      <a href="#">查看更多</a>
    </div>
  </div>
  <div class="product row-reverse">
    <div class="productPic">
      <img
        src="https://lh3.google.com/u/0/d/17wrZ4i68faDVBETc8eOFRlw6SkysMUEr=w1920-h522-iv1"
        alt="index4"
      />
    </div>
    <div class="productText">
      <h2>CHANEL N°5</h2>
      <p>
        N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。
      </p>
      <a href="#">查看更多</a>
    </div>
  </div>
  <div class="product">
    <div class="productPicBottom">
      <img
        src="https://lh3.google.com/u/0/d/123eLgL2MNoHuP7F5snO2slbMMsLZjnw7=w1920-h522-iv1"
        alt="index5"
      />
    </div>
    <div class="productText">
      <h2 class="fz-3">1. Levels of Preventive Maintenance Compliance</h2>
      <p class="fz-normal">
        The core idea of preventative maintenance is the performance of
        proactive actions against unscheduled downtime in order to identify
        potential defects before they evolve into something more severe.
      </p>
      <h2 class="fz-3">2. Percentage of Planned Maintenance</h2>
      <p class="fz-normal">
        The planned maintenance percentage is the total planned maintenance time
        in your CMMS software over a date range over the total number of hours
        of a service performed by the technicians.
      </p>
      <h2 class="fz-3">3. Critical percentage of planned maintenance</h2>
      <p class="fz-normal">
        Calculating the critical percentage of planned maintenance will help you
        prioritize the most important operations that should be performed
        immediately.
      </p>
      <button type="button">Plan a free online training</button>
    </div>
  </div>
</div>
